<!-- Top -->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/main">TTI</a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my">My Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header - set the background image for the header in the line below-->
<header class="masthead">
  <!-- 프로필 -->
  <div
    class="container d-flex align-items-center flex-column text-white text-center"
  >
    <div>
      <img
        class="img-fluid rounded-circle mb-3"
        src="<%=newLoginUser.user_profile_img_path%>"
        alt="..."
      />
      <h1 class="fs-3 fw-bolder"><%=newLoginUser.user_name%></h1>
      <p class="text-white-50 mb-3"><%=newLoginUser.user_email%></p>
      <!-- 프로필 수정 버튼 -->
      <div class="col-lg-12">
        <button
          class="btn rounded-3 btn-dark mb-2"
          data-bs-toggle="modal"
          data-bs-target="#profilEdit"
          type="submit"
        >
          프로필 수정
        </button>
        <hr />
      </div>
      <!-- 경계 라인 -->
      <div
        class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
      >
        <div class="portfolio-item-caption-content text-center text-white">
          <i class="fas fa-plus fs-3"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- 포트폴리오 -->
  <div id="portfolio">
    <div class="container p-0 h-30">
      <div class="col-lg-12">
        <div class="row g-3 align-items-center">
          <!-- 작품1-->
          <% for(var i = 0;i < loginUserImages.length;i++) { %>
          <div class="col-lg-2 justify-content-center">
            <div
              class="portfolio-box"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModal<%=i%>"
            >
              <img
                class="img-fluid"
                src="<%=loginUserImages[i].data_save_path%>"
                alt="<%=loginUserImages[i].data_prompt%>"
              />
              <div class="portfolio-box-caption text-center">
                <!-- <div class="project-name text-white">
                  <%=loginUserImages[i].data_prompt%>
                </div> -->
                <div class="project-category text-white-50">
                  <%=loginUserImages[i].data_disclosure%>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <!-- 하단 이미지 목록 페이지  -->
  <!-- <div class="text-white text-center mt-4 mb-4">1 2 3</div> -->
</header>

<!-- 모달창 -->
<!-- 프로필 모달창-->
<div
  class="portfolio-modal modal fade"
  id="profilEdit"
  tabindex="-1"
  aria-labelledby="profilEdit"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- 닫기버튼 -->
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- 모달내용-->
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-4"
              >
                프로필 수정
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>

              <form
                action="/my/upload/profile"
                method="POST"
                enctype="multipart/form-data"
              >
                <!-- 프로필 이미지 -->
                <div class="form-floating mb-3">
                  <img
                    class="img-fluid rounded mb-4"
                    src="<%=loginUserData.user_profile_img_path%>"
                    alt="..."
                  />
                  <input
                    class="form-switch text-center"
                    id="profileImg"
                    name="profileImg"
                    type="file"
                  />
                </div>

                <!-- 이메일주소 input-->
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="email"
                    name="email"
                    type="email"
                    placeholder="name@example.com"
                    disabled
                    value="<%=loginUserData.user_email%>"
                  />
                  <label for="email">이메일주소</label>
                </div>

                <!-- 비밀번호 input-->
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="password"
                    name="password"
                    type="password"
                    placeholder="<%=loginUserData.user_password%>"
                    value=""
                  />
                  <label for="phone">비밀번호</label>
                </div>

                <!-- 비밀번호확인 input-->
                <!-- <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="password_check"
                    name="password_check"
                    type="password"
                    placeholder=""
                    value=""
                  />
                  <label for="phone">비밀번호확인</label>
                </div> -->

                <!-- 이름 input-->
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Enter your name..."
                    value="<%=loginUserData.user_name%>"
                  />
                  <label for="name">이름</label>
                </div>

                <button
                  class="btn btn-dark"
                  data-bs-dismiss="modal"
                  type="submit"
                >
                  <i class="fas fa-xmark fa-fw"></i>
                  저장
                </button>
              </form>
            </div>
            <!-- Portfolio Modal - Text-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 이미지 모달창-->
<!-- Portfolio Modal 1-->
<% for(var i = 0;i < loginUserImages.length;i++) { %>
<form class="imgModalForm" method="post" action="/my/upload/disclosure">
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal<%=i%>"
    tabindex="-1"
    aria-labelledby="portfolioModal<%=i%>"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            class="btn-close"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-11">
                <!-- Portfolio Modal - Title-->
                <h2
                  class="portfolio-modal-title text-secondary text-uppercase mb-3"
                >
                  Image Information
                </h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image-->
                <img
                  class="img-fluid rounded mb-3"
                  src="<%=loginUserImages[i].data_save_path%>"
                  alt="..."
                />

                <!-- Phone number input-->
                <div class="form-floating mb-3">
                  <textarea
                    class="form-control"
                    id="prompt"
                    type="text"
                    placeholder="Enter image prompt here..."
                    style="height: 8rem"
                    data-sb-validations="required"
                    disabled
                  >
Prompt       <%=loginUserImages[i].data_prompt%>
AI model    <%=loginUserImages[i].data_ai_model_name%>
Size              <%=loginUserImages[i].data_img_size%>
Date             <%=loginUserImages[i].reg_date%></textarea
                  >
                  <label for="prompt"></label>
                </div>
                <!-- Portfolio Modal - Text-->
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="dataId"
                    name="dataId"
                    type="text"
                    style="height: 4rem"
                    value="<%=loginUserImages[i].data_id%>"
                  />
                  <label for="dataId">Data ID</label>
                </div>
                <!-- Portfolio Modal - Text-->
                <div class="form-floating mb-3">
                  <select
                    name="disclosure"
                    id="disclosure"
                    class="form-select rounded-3 mb-3"
                    style="height: 4rem"
                  >
                    <option value="0" selected>비공개</option>
                    <option value="1">공개</option>
                  </select>
                  <label for="disclosure">Disclosure</label>
                  <!-- <select
                    name="dataId"
                    id="dataId"
                    class="form-select rounded-3"
                    style="height: 4rem"
                  >
                    <option value="<%=loginUserImages[i].data_id%>" selected>
                      <%=loginUserImages[i].data_id%>
                    </option>
                    <label for="dataId">Data ID</label> -->
                  </select>
                </div>

                <button
                  class="btn btn-dark"
                  data-bs-dismiss="modal"
                  type="submit"
                >
                  <i class="fas fa-xmark fa-fw"></i>
                  저장
                </button>
                <button
                  onclick="deleteImage('<%=loginUserImages[i].data_id%>')"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  <i class="fas fa-xmark fa-fw"></i>
                  삭제
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<% } %>

<!-- Portfolio Modal 2-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  aria-labelledby="portfolioModal2"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                Tasty Cake
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img
                class="img-fluid rounded mb-5"
                src="assets/img/mypage/cake.png"
                alt="..."
              />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Mollitia neque assumenda ipsam nihil, molestias magnam,
                recusandae quos quis inventore quisquam velit asperiores, vitae?
                Reprehenderit soluta, eos quod consequuntur itaque. Nam.
              </p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <i class="fas fa-xmark fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script></script>

<title>My Page</title>
